* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 1000px;
}
.Items {
    background-color: rgb(37, 59, 59);
    margin: 10px auto;
    width: 80%;
    height: 280px;
    display: flex;
    overflow-x: overlay;
    border-top: 1px solid #555;
}

.container {
    display: flex;

}

.item {
    text-align: center;
    margin: 0px 5px;
    width: 200px;
    height: 250px;
}

.item img {
    width: 100%;
    height: 70%;
    image-rendering: pixelated;
}

/* .info{
    text-align: center;
} */









.Items::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  .Items::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border: 3px solid red;
  }
   
  /* Handle */
  .Items::-webkit-scrollbar-thumb {
    background: rgb(29, 40, 51);     border-radius: 24px; width: 10px;

  }
  
  /* Handle on hover */
  .Items::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
h1{
    color: #f1f1f1;
}

h2{
    color: rgba(46, 199, 46, 0.836);
}














